{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="custom-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="custom-section-wrapper">
          <div class="custom-section-header">
            <h5 style="color: white; text-decoration: underline;">Ma Fiche de Domaine</h5>

            <h5 style="color: black; text-decoration: underline;">Mon Approche Créative</h5>
          </div>
          <div class="custom-section-content">
            <p style="text-align: justify;">Dans chaque projet que j'entreprends, ma démarche créative est centrée sur une compréhension profonde des besoins et des attentes de mes clients. Je crois fermement que le design réussi est celui qui allie esthétique et fonctionnalité, créant ainsi des expériences mémorables et significatives.

              Avec une formation spécialisée en ingénierie des médias et une expérience pratique dans l'organisation de mariages, j'ai développé une approche unique où la technique rencontre l'art. Je me passionne pour la création d'expériences utilisateur captivantes, la conception de produits numériques innovants, et l'élaboration de campagnes de contenu qui racontent une histoire et captent l'attention.</p>
            <p style="text-align: justify;">Ma maîtrise des outils numériques, combinée à mon flair artistique, me permet de produire des résultats qui ne sont pas seulement visuellement attrayants, mais aussi stratégiquement alignés sur les objectifs de marque. Que ce soit dans l'animation et les graphiques en mouvement, la conception d'emballages et de produits, la création d'espaces de vente au détail, ou la conception de publications imprimées, chaque projet est une occasion de repousser les limites de la créativité.

              Je crois aussi que la collaboration et la communication sont essentielles. Travailler en étroite collaboration avec les clients et les équipes me permet de traduire les visions en réalités tangibles, tout en assurant que chaque aspect du design a un but clair et répond aux besoins spécifiques du projet.</p>
              <h5 style="color: black; text-decoration: underline;">Mon Ikigai</h5>

              <p style="text-align: justify;">L'Ikigai est un concept japonais qui signifie trouver sa "raison d'être", et c'est exactement ce que j'ai cherché à travers ma passion pour le design graphique. Au centre de mon Ikigai, j'ai découvert que créer, imaginer et concevoir en réponse aux besoins uniques de chaque projet sont les piliers de mon engagement quotidien.

                Ma passion pour le design s'étend à diverses formes d'expression créative. Que ce soit par la peinture, la danse ou la création de nouvelles choses, je trouve une joie immense à donner vie à des idées et à exprimer des émotions à travers la couleur, la forme et la texture. Cette passion s'étend naturellement à mon travail où je m'efforce d'apporter des perspectives variées, des expériences visuelles enrichissantes et des événements mémorables à travers mes créations.</p>


              <p style="text-align: justify;">Je suis animée par le désir d'utiliser mes compétences pour créer du contenu innovant. Je vise à offrir des expériences sur mesure qui captivent et engagent. Pour moi, chaque projet est une opportunité de concevoir des solutions qui non seulement embellissent l'espace visuel mais qui ont aussi une fonction et un but.

                Mon parcours professionnel m'a menée à explorer divers rôles dans le domaine du design graphique. En tant qu'event planner, designer de produits, de marque, d'intérieur et directrice artistique, j'ai pu affiner ma capacité à écouter, à organiser et à transmettre des messages de manière créative et efficace.</p>
                <p style="text-align: justify;">Mon Ikigai se manifeste à travers ma mission de proposer des services de conception visuelle, de création multimédia et de gestion d'événements en fonction des besoins spécifiques de mes clients. C'est en comprenant profondément ces besoins que je peux offrir des solutions qui vont au-delà des attentes.

                  Cet équilibre entre ma passion, ma mission, ma vocation et ma profession est ce qui me guide et me motive chaque jour. C'est ce qui fait du design graphique non seulement mon métier, mais ma raison d'être."</p>
               
          </div>
          <div class="custom-section-image" style="text-align: center;">
            <img src="/neylaS-LabVeilleTech-DesignGraphique/images/ikigai.png" alt="Ikigai" style="width: 500px; height: auto;">
        </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="custom-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="custom-section-wrapper">
          <div class="custom-section-header">
            <h5 style="color: white; text-decoration: underline;">Ma Fiche de Domaine</h5>
            <h5 style="color: black; text-decoration: underline;">Ma Fiche de Domaine</h5>
          </div>
          </div>
          <div class="custom-section-content">
            <p>Domaine : Design Graphique</p>
            <p>Exemples de Domaines :</p>
              <ul>
                <li>Identité Visuelle et Branding</li>
                <li>Design d'Interface Utilisateur (UI)</li>
                <li>Illustration et Animation</li>
                <li>Mise en page et Design Éditorial</li>
                 <li>Packaging de Produits</li>
              </ul>
              <p>Mots-clés :</p>
              <ul>
                <li>Créativité</li>
                <li>Communication visuelle</li>
                <li>Typographie</li>
                <li>Palette de couleurs</li>
                <li>Logiciels de création (Adobe Creative Suite, Sketch, etc.)</li>
                <li>Impression</li>
                <li>UX (Expérience Utilisateur)</li>
                <li>Prototypage</li>
                <li>Responsive Design</li>
              </ul>
              
              <p>Lexique du Domaine :</p>
              <dl>
                <dt>CMJN et RVB</dt>
                <dd>Systèmes de couleur pour l'impression et l'affichage numérique</dd>
                
                <dt>Grid System</dt>
                <dd>Système de grilles pour organiser le contenu</dd>
                
                <dt>Mockup</dt>
                <dd>Maquette réaliste d'un design</dd>
                
                <dt>Kerning</dt>
                <dd>Ajustement de l'espace entre les caractères</dd>
                
                <dt>Wireframe</dt>
                <dd>Schéma utilisé pour la mise en page d'une interface</dd>
              </dl>
              
              <p>Sous-domaines :</p>
              <dl>
                <dt>Design Publicitaire</dt>
                <dd>Création de supports visuels pour la publicité.</dd>
                
                <dt>Design de Communication</dt>
                <dd>Conception graphique pour communiquer des informations.</dd>
                
                <dt>Design d'Information</dt>
                <dd>Représentation visuelle des données.</dd>
                
                <dt>Design Multimédia</dt>
                <dd>Création de contenus pour diverses plateformes numériques.</dd>
                
                <dt>Design d'Emballage</dt>
                <dd>Conception de l'emballage extérieur d'un produit.</dd>
              </dl>
              
              <p>Pourquoi ?</p>
              <p style="text-align: justify;">Le design graphique est le carrefour où ma créativité rencontre la fonctionnalité. Il englobe ma passion pour l'art, ma compétence dans l'utilisation de la technologie et mon désir de communiquer des messages percutants à travers des visuels. C'est un domaine dynamique qui me permet de rester constamment apprenante et innovante, deux valeurs qui résonnent profondément avec mon Ikigai. En tant que future professionnelle dans ce domaine, je suis excitée par l'opportunité de façonner la manière dont les marques et les idées sont perçues dans le monde, créant des expériences visuelles qui inspirent et engagent les audiences.</p>
            
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}